* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredericka the Great', cursive;
    background-color: whitesmoke;
}
.introBox {
    display: flex;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}   

.introText {
    width: 50vw;
}

.selectorBox {
    display: flex;
    min-height: 40vh;
    justify-content: center;
    align-items: flex-start;
}
.selectorTextBox {
    font-size: 20px;
    align-content: flex-start;
}

.firstDiv {
    position: absolute;
    margin: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.secondSelectorBox {
    position: absolute;
    margin: 35px;
    
}

.refreshBox {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
}
